.ace-search,
.ace-ranking {
    display: block !important;
    background: #edeef0 !important;
    .nodata {        
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        align-items: center;
        color: #969696;
        font-size: 26px;
        img {
            margin-top: 270px;
            width: 83px;
            height: 100px;
        }

        p {
            margin-top: 38px;
        }
    }
}
    
.rank-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
        width: 100%;
        margin-bottom: 15px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child {
            border: 0;
        }

        .header {
            display: flex;
            height: 96px;
            padding: 0 30px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e8e8e8;
            .user {                
                display: flex;
                align-items: center;
                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 60px;
                }
                & > span {
                    margin-left: 20px;
                    font-size: 24px;
                    font-weight: bold;
                    color: #282828;
                }
                
                .level {
                    background-color: #f5ba2e;
                    color: #fff;
                    font-size: 20px;
                    width: 90px;
                    display: flex;
                    align-items: center;
                    border-radius: 50px;
                    height: 32px;
                    font-size: 20px;
                    margin-left: 5px;

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            .attention-btn {
                color: #fff;
                display: block;
                background: #a1c700;
                width: 116px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                border-radius: 50px;
                font-size: 20px;
            }
        }

        .rank-list-item {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;           

            img {
                display: block;
                width: 173px;
                height: 152px;
            }

            .data-msg {
                text-align: center;
                color: #999;
                .data--msg-item {
                    margin-bottom: 30px;
                    &:last-child {
                        margin: 0;
                    }
                    p {
                        margin-bottom: 10px;
                        &:last-child {
                            margin: 0;
                        }
                    }
                    .data-num1,
                    .data-num2,
                    .data-num3 {
                        font-size: 24px;
                        font-weight: bold;
                    }
                    .data-num1 {
                        color: #ff1c1c;
                    }
    
                    .data-num2 {
                        color: #a1c700;
                    }
    
                    .data-num3 {
                        color: #282828;
                    }
    
                    .label {
                        color: #969696;
                        font-size: 20px; 
                    }
                }                
            }
        }
    }
}


.dealer-container {
    display: block !important;
    padding-bottom: 112px;
    .header-box {
        height: 570px;
        background: #a9cd11;
        text-align: center;
        color: #fff;
        line-height: 1em;
        .head-img {
            border: 2px solid #fff;
            width: 160px;
            height: 160px;
            border-radius: 100px;
            margin-top: 70px;
        }

        .userinfo {
            color: #fff;
            font-size: 30px;
            margin-top: 20px;
            font-weight: bold;
            span {
                position: relative;
                .level {
                    background-color: #f5ba2e;
                    font-size: 20px;
                    width: 90px;
                    position: absolute;
                    top: 0;
                    right: -110px;
                    display: flex;
                    align-items: center;
                    border-radius: 50px;
                    height: 34px;

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }    
        }

        .goodat {
            font-size: 24px;
            margin-top: 20px;
        }

        .begintime {
            font-size: 20px;
            margin-top: 20px;
        }

        .btn-box {
            width: 344px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }

        .attention-btn {
            margin-top: 40px;
            display: inline-block;
            width: 144px;
            padding: 10px 0px;
            background: #fff;
            color: #a0cf2c;
            border-radius: 100px;
            font-size: 20px;          
        }

        .attention-btn-done {
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid #fff;
            color: #fff;
        }

        .ace-attention {
            display: flex;
            color: #fff;
            justify-content: space-between;            
            width: 531px;
            margin: 0 auto;
            margin-top: 37px;
            margin-bottom: 45px;
            font-size: 20px;
            line-height: 1em;
            div {
                display: flex;
                align-items: flex-end;
            }
            .num {
                font-size: 30px;
            }
        }
    }

    .deal-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 30px;
        border-bottom: 16px solid #edeef0;

        .deal-data-item {
            margin-bottom: 40px;            
            display: flex;
            justify-content: space-around;
            text-align: center;
            &:last-child {
                margin-bottom: 0;  
            }
            div {
                p:first-child {
                    color: #929496;
                    font-size: 24px;
                }

                p:last-child {
                    font-size: 26px;
                    margin-top: 20px;
                }

                &:nth-child(1) {
                    color: #ff0000;
                }

                &:nth-child(2) {
                    color: #00d94b;
                }

                &:nth-child(3) {
                    color: #282828;
                }
            }
        }
    }

    .chart-title {
        display: flex;
        border-bottom: 1px solid #e8e8e8;
        font-size: 28px;
        font-weight: bold;
        color: #282828;
        padding: 0 30px;
        height: 76px;
        line-height: 76px;
    }

    .legend {
        height: 100px;
        line-height: 100px;
        text-align: right;
        padding: 0 30px;
        font-size: 24px;

        span {
            position: relative;
            margin-left: 90px;
            &::before {
                position: absolute;
                content: ;
                top: 4px;
                left: -30px;
                width: 22px;
                height: 22px; 
                border-radius: 4px;               
            }

            &:nth-child(1)::before {
                background: #ff0000;
            }
            &:nth-child(2)::before {
                background: #38aae0;
            }
            &:nth-child(3)::before {
                background: #00d94b;
            }
        }
    }

    .deal-record {
        li {
            padding: 0 30px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e8e8e8;
        }
        .buy span:nth-child(4) {
            color: #fff;
            background: #f90100;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 40px;
        }

        .buy span:nth-child(5) {
            color: #f90100;
        }

        .sale span:nth-child(4) {
            color: #fff;
            background: #02da4a;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 40px;
        }

        .sale span:nth-child(5) {
            color: #02da4a;
        }
    }

    .footer {
        height: 112px;
        border-top: 1px solid #e8e8e8;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;

        a {
            display: block;
            margin: 0 40px;
            text-align: center;
            background: #a4cb00;
            color: #fff;
            height: 72px;
            line-height: 72px;
            font-size: 30px;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}


.dealer-record-detail {
    width: 100%;

    li {
        border-bottom: 1px solid #e8e8e8;
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff; 
        padding: 0 30px;
        font-size: 28px;

        span:first-child {
            color: #282828;
        }

        span:last-child {
            color: rgba(111,112,114,0.7);
            text-align: right;
            p:last-child {
                font-size: 20px;
            }
        }
    }
}


.deal-match-ranking {
    display: block !important;

    .match-img {
        img {
            width: 100%;
        }
    }

    .match-msg {
        padding: 30px;
        h1 {
            color: #282828;
            font-size: 30px;
        }
        p {
            color: #6f7072;
            font-size: 24px;
            margin-top: 15px;
            line-height: 44px;
        }
    }

    .rank-header {
        background: #edeef0;
        color: #282828;
        height: 90px;
        line-height: 95px;
        font-weight: bold;
        padding: 0 30px;
    }

    .attention-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            background: #fff;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:last-child {
                border: 0;
            }

            .rank-num {
                color: #282828;
            } 

            &:nth-child(1) {
                .rank-num {
                    color: #ff0000;
                }                
            }

            &:nth-child(2) {
                .rank-num {
                    color: #ffa229;
                }                
            }

            &:nth-child(3) {
                .rank-num {
                    color: #a1c700;
                }                
            }

            .attention-list-item {
                position: relative;
                display: flex;
                flex-direction: row;
                padding: 0 30px;

                .confirm-btn {
                    position: absolute;
                    right: 20px; 
                    top: 5px;
                    color: #fff;
                    display: block;
                    background: #a1c700;
                    width: 116px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    border-radius: 50px;
                    font-size: 20px;
                }

                .rank-num {
                    display: flex;
                    width: 30px;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 5px;
                    font-size: 30px;

                    img {
                        width: 30px;
                        height: 33px;
                    }
                }

                .head-img {
                    display: block;
                    width: 128px;
                    height: 128px;
                    border-radius: 128px;
                    margin-left: 20px;
                }

                .user-msg {
                    margin-left: 20px;
                    color: #999;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p {
                        margin-bottom: 10px;
                        font-size: 20px;
                        .income30 {
                            margin-left: 50px;
                        }
                        .income-rate {
                            color: #a1c770;
                            font-size: 24px;
                        }
                        .income-num {
                            color: #ff1c1c;
                            font-size: 24px;
                        }
                    }

                    .username {
                        font-size: 30px;
                        font-weight: bold;
                        color: #282828;
                        display: flex;

                        .level {
                            background-color: #f5ba2e;
                            color: #fff;
                            font-size: 20px;
                            width: 90px;
                            display: flex;
                            align-items: center;
                            border-radius: 50px;
                            height: 32px;
                            font-size: 20px;
                            margin-left: 10px;

                            img {
                                height: 30px;
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dealer-record {
    display: block !important;
    .deal-menu{
        display: flex;
        border: 1px solid #e8e8e8;
        font-size: 24px;
        height: 80px;
        color: #282828;
        .deal-menu-item {
            width: 50%;
            text-align: center;
            height: 80px;
            line-height: 80px;
            a {
                display: inline-block;
                height: 80px;
                &.active {
                    color: #a9cd11;
                    border-bottom: 4px solid #a9cd11;
                }
            }
        }
    }   
    
    .thead {
        font-size: 24px;
        height: 76px;
        display: flex;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
    }

    .dealer-record-top {
        color: #929496;
        font-size: 24px;
        height: 104px;
        display: flex;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;

        .income-num {
            text-align: right;
            color: #00d94b;
        }

        .on-and-off p span:last-child {
            font-size: 18px;
            margin-left: 15px;
        }
    }

    .dealer-record-bottom {
        color: #282828; 
        font-size: 24px;
        height: 48px;
        display: flex;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        background: #f6f6f7;

        span:first-child {
            display: block;
            width: 180px;
        }

        span img {
            margin-right: 10px;
            height: 14px;
            width: 44px;
        }
    }
}

.deal-match {    
    display: block !important;        
    width: 100%;

    ul {
        padding: 40px;
        li {
            margin-bottom: 46px;
            img {
                height: 450px;
                display: block;
                width: 100%;
                border-radius: 15px;
            }

            .match-msg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                div {
                    h1 {
                        font-size: 30px;
                        color: #333;
                    }
                    p {
                        font-size: 24px;
                        color: #999;
                        margin-top: 10px;
                        span:last-child {
                            color: #282828;
                        }
                    }
                }

                a {
                    display: block;
                    width: 120px;
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    background: #acd500;
                    color: #fff;
                    border-radius: 100px;
                    font-size: 30px;
                }
            }
        }
    }
}


.select-type {
    height: 88px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #282828;
    background: #fff;
    margin-bottom: 3px;

    .am-icon-md {
        width: 28px;
        margin-left: 10px;
    }
}