.attention-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        background: #fff;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child {
            border: 0;
        }

        .attention-list-item {
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 0 30px;

            .confirm-btn {
                position: absolute;
                right: 20px; 
                color: #fff;
                display: block;
                background: #a1c770;
                padding: 12px 38px;
                border-radius: 50px;
            }

            .head-img {
                display: block;
                width: 130px;
                height: 130px;
                border-radius: 100px;
            }

            .user-msg {
                margin-left: 20px;
                color: #999;
                p {
                    margin-bottom: 10px;
                    .income30 {
                        margin-left: 50px;
                    }
                    .income-rate {
                        color: #a1c770;
                        font-size: 30px;
                    }
                    .income-num {
                        color: #ff1c1c;
                        font-size: 30px;
                    }
                }

                .username {
                    font-size: 36px;
                    font-weight: bold;
                    color: #282828;
                }
            }
        }
    }
}


.ace-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
        width: 100%;
        margin-bottom: 15px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child {
            border: 0;
        }

        .header {
            display: flex;
            height: 100px;
            padding: 0 30px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e8e8e8;
            .user {                
                display: flex;
                align-items: center;
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 60px;
                }
                span {
                    margin-left: 20px;
                    font-size: 30px;
                    font-weight: bold;
                    color: #282828;
                }                
            }

            .attention-btn {
                color: #fff;
                display: block;
                background: #a1c770;
                padding: 12px 38px;
                border-radius: 50px;
            }
        }

        .ace-list-item {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;           

            img {
                display: block;
                width: 200px;
                height: 180px;
            }

            .data-msg {
                text-align: center;
                color: #999;
                .data--msg-item {
                    margin-bottom: 30px;
                    &:last-child {
                        margin: 0;
                    }
                    p {
                        margin-bottom: 10px;
                        &:last-child {
                            margin: 0;
                        }
                    }
                    .data-num1,
                    .data-num2,
                    .data-num3 {
                        font-size: 30px;
                        font-weight: bold;
                    }
                    .data-num1 {
                        color: #ff1c1c;
                    }
    
                    .data-num2 {
                        color: #a1c770;
                    }
    
                    .data-num3 {
                        color: #282828;
                    }
    
                    .label {
                        color: #999;
                    }
                }                
            }
        }
    }
}


.deal-container {
    display: block !important;
    .header-box {
        height: 570px;
        background: #a9cd11;
        text-align: center;
        color: #fff;
        line-height: 1em;
        .head-img {
            border: 2px solid #fff;
            width: 160px;
            height: 160px;
            border-radius: 100px;
            margin-top: 70px;
        }

        .userinfo {
            color: #fff;
            font-size: 30px;
            margin-top: 20px;
            font-weight: bold;
        }

        .goodat {
            font-size: 24px;
            margin-top: 20px;
        }

        .begintime {
            font-size: 20px;
            margin-top: 20px;
        }

        .btn-box {
            width: 344px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }

        .attention-btn {
            margin-top: 40px;
            display: inline-block;
            width: 144px;
            padding: 10px 0px;
            background: #fff;
            color: #a0cf2c;
            border-radius: 100px;
        }

        .ace-attention {
            display: flex;
            color: #fff;
            justify-content: space-between;            
            width: 531px;
            margin: 0 auto;
            margin-top: 37px;
            margin-bottom: 45px;
            font-size: 20px;
            line-height: 1em;
            div {
                display: flex;
                align-items: flex-end;
            }
            .num {
                font-size: 30px;
            }
        }
    }

    .deal-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 30px;
        border-bottom: 16px solid #edeef0;

        .deal-data-item {
            margin-bottom: 40px;            
            display: flex;
            justify-content: space-around;
            text-align: center;
            &:last-child {
                margin-bottom: 0;  
            }
            div {
                p:first-child {
                    color: #929496;
                    font-size: 24px;
                }

                p:last-child {
                    font-size: 26px;
                    margin-top: 20px;
                }

                &:nth-child(1) {
                    color: #ff0000;
                }

                &:nth-child(2) {
                    color: #00d94b;
                }

                &:nth-child(3) {
                    color: #282828;
                }
            }
        }
    }

    .deal-menu {
        display: flex;
        border-bottom: 1px solid #e8e8e8;
        font-size: 28px;
        font-weight: bold;
        color: #282828;
        padding: 0 30px;
        height: 76px;
        line-height: 76px;
    }

    .legend {
        height: 100px;
        line-height: 100px;
        text-align: right;
        padding: 0 30px;

        span {
            position: relative;
            margin-left: 90px;
            &::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -30px;
                width: 22px;
                height: 22px; 
                border-radius: 4px;               
            }

            &:nth-child(1)::before {
                background: #ff0000;
            }
            &:nth-child(2)::before {
                background: #38aae0;
            }
            &:nth-child(3)::before {
                background: #00d94b;
            }
        }
    }

    .deal-record {
        li {
            padding: 0 30px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e8e8e8;
        }
        .buy span:nth-child(4) {
            color: #fff;
            background: #f90100;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 40px;
        }

        .buy span:nth-child(5) {
            color: #f90100;
        }

        .sale span:nth-child(4) {
            color: #fff;
            background: #02da4a;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 40px;
        }

        .sale span:nth-child(5) {
            color: #02da4a;
        }
    }
}


.dealer-record-detail {
    width: 100%;

    li {
        border-bottom: 1px solid #e8e8e8;
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff; 
        padding: 0 30px;
        font-size: 28px;

        span:first-child {
            color: #282828;
        }

        span:last-child {
            color: rgba(111,112,114,0.7);
            text-align: right;
            p:last-child {
                font-size: 20px;
            }
        }
    }
}