/******帮助中心*******/
.my-deal{
    background: #f0f0f0 !important;
    .deal-info{
        display: flex;
        background: #fff;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 30px;
        .info-item{
            width: 25%;
            border-right: 1px solid #e6e6e6;
            padding: 25px 0 30px;
            p{
                font-size: 24px;
                color: #bdbdbd;
                text-align: center;
                margin-bottom: 10px;
            }
            i{
                display: block;
                font-style: normal;
                font-size: 26px;
                color: #282828;
                text-align: center;
            }
            &:first-child{
                i{
                    color: #a1c700;
                } 
            }
            &:last-child{
                border-right: none;
                i{
                   color: #ff1800; 
                }
            }
        }
    }
}