.my-point {
    background: #edeef0 !important;
    display: block !important;

    .bonus-point {
        height: 480px;
        margin-bottom: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bonus-point-level {
            position: relative;
            height: 223px; 
            width: 200px;
            background: #ffcc33;
            color: fff;
            p {
                position: absolute;
                top: 12px;
                width: 100%;
                text-align: center;
                color: #fff;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        
        .bonus-point-num {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            width: 400px;
            color: #282828;

            span:last-child {
                color: #929496;
            }
        }

        .bonus-point-progress {
            margin-top: 14px;
            width: 400px;
            border-radius: 100px;
            height: 12px;
            background: #edeef0;

            .progress-bar {
                background: #a1c700;
                border-radius: 100px;
                height: 12px;
            }
        }
    }
}